<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>user list</h1>
	<ul>
		<% for (var i=0; i<userlist.length; i++){  %>
			<li><%=userlist[i].userId%></li>
    	<% } %>
	</ul>
</body>
</html>